.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 32px;

  & > .userInfo {
    display: flex;
    align-items: center;

    .user {
      margin-left: 12px;
    }
  }

  & > button, & > div > button {
    background-color: transparent;
  }
}