@import "../../../scss/variables";

.title {
  font-weight: 700;
  color: $white;
  margin: 36px 0 42px;
  font-size: 32px;
  line-height: 130.19%;
  text-align: center;
  text-transform: uppercase;
}