@import "../../../../scss/_variables.scss";

.images {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 0 0;

  > img {
    cursor: pointer;
    margin-right: 18px;
    padding-bottom: 6px;
    border-bottom: 2px solid transparent;
    transition: border .2s ease;

    &.active {
      border-color: $purple;
    }
  }
}