@import './_variables';

html, body {
	height: 100%;
}

body {
  background-color: $black;
	color: $white;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	opacity: 1;
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:before,
	&:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	&:focus {
		outline: none;
	}
}

*::-webkit-input-placeholder {
	color: #c0c0c0;
	opacity: 1;
}
*:-moz-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

*::-moz-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

a {
	text-decoration: none;
	cursor: pointer;
}

ul, li {
	list-style: none;
}

img {
	max-width: 100%;
}

input {
	width: 100%;
	border: 1px solid transparent;
	outline: none;
	color: $white;
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
}

button {
	border: none;
	outline: none;
	cursor: pointer;
	background: transparent;
}

.wrapper {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: all 0.8s;
	transform: rotate(360deg);
}
.item-exit {
  opacity: 0;
	
}
.item-exit-active {
  opacity: 1;
  transition: all 0.8s;
	transform: rotate(-360deg);
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

#root {
	height: 100%;
}

.custom-select {
	&__placeholder {
		color: #946E86 !important;
	}
	&__control {
	background-color: $purple !important;
	width: 100% !important;
	border: 1px solid transparent !important;
	border-radius: 10px !important;
	cursor: pointer !important;
	min-height: 49px !important;
	padding: 0 14px;
	color: $white !important;
	text-align: left;
	font-size: 16px;
	line-height: 19px;
	
		&--is-focused {
			border-color: rgba($accent, 0.3) !important;
			outline: none !important;
			box-shadow: none !important;
		}
	}

	&__menu {
		z-index: 3 !important;
		padding: 0 !important;
		animation: scaleIn 0.25s ease-in-out;
		background-color: $purple !important;

		&-notice {
			color: #946E86 !important;
		}

		&-list {
			padding: 0 !important;
		}

	}

	&__option {
		cursor: pointer !important;
		padding: 10px 8px !important;
		&--is-focused {
			background-color: darken($purple, 3%)!important;
		} //#f8c9b4
		&--is-selected {
			background-color: darken($purple, 5%) !important;
		} 
	}

	&__single-value {
		color: $white !important;
	}

	&__value-container {
		padding: 0 !important;
		margin-right: 0;
	}

	&__indicator {
		padding: 0 !important;
		color: #887568 !important;

		> svg {
			width: 24px;
		}
	}	

	&__indicator-separator {
		display: none !important;
	}

	&__multi-value {
		border-radius: 6px !important;
		background: lighten($black, 7%) !important;

		&__label {
			color: $white !important;
		}

		&__remove:hover {
			color: $white !important;
			background: lighten($black, 10%) !important
		}
	}
}